.cards{
    width: 20vw;
    margin: 1vh;
    background-color: #eba834;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 36px 0px rgba(135,135,135,1);
    -webkit-box-shadow: 1px 1px 36px 0px rgba(135,135,135,1);
    -moz-box-shadow: 1px 1px 36px 0px rgba(135,135,135,1);
}
.image{
    width: 20vw;
    height: 17vh;
}
.image-card{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 2vh;
}
@media (max-width: 600px){
    .cards{
        width: 40vw;
    }
    .image{
        width: 100%;
        height: 50%;
    }
}
@media (min-width:601px)and (max-width: 750px){
    .cards{
        width: 25vw;
    }
    .image{
        width: 100%;
        height: 50%;
    }
}
.body-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 100%;
  background: #eba834;
  border-radius: 5px;
  padding: 1em;
  box-sizing: border-box;
}

.card-title, .card-country {
  width: 100%;
  text-align: center;
  margin: 0.5em 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.see-more {
  margin-top: auto;
  color: #1a73e8;
  text-decoration: underline;
  align-self: center;
}