.input-comment{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 5px;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 90%;
    margin: 5px 0 !important;
    margin-left: 10px !important;
}
.comments-box{
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.comments-box-container{
    width: 100%;
}
.comment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    margin: 1vh;
}
.box-comment{
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
    align-items: flex-start;
    width: 100%;
}
#textmodify{
    display: none;
}
.visible{
    display: block !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    color: white !important;
}
.css-10j2df2-MuiFormControl-root-MuiTextField-root{
    width: 100%;
}
.pointer{
    cursor: pointer;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6vh;
}